
  ._nav {
    width: 100vw;
    height: 65px;
    padding: 30px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #434343;
    box-shadow: 0px -5px 10px 10px rgba(0, 0, 0, 0.3);
    z-index: 0;
  }
  #nav-title {
    font-weight: 600;
    font-size: 20px;
  }
  .menu-bar {
    display: none;
  }

  .nav-underline {
    animation: color-swipe 0.5s forwards;
  }

  .links-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 250px;
    margin: auto 0;
  }

  .links-container li {
    margin: 0 20px;
    z-index: 50;
  }


  @media (min-width: 1024px) {
    .menu-bar {
      display: flex;
      list-style: none;
      z-index: 100;
    }

    .links-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      width: 450px;
    }
}

@keyframes color-swipe {
  from {
      width: 0;
      background: linear-gradient(to right, magenta, transparent);
  }
  to {
      width: 100%;
      background: linear-gradient(to right, magenta, transparent);
  }
}